<div class="container center fonta">
    <div class="container padding-top">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/ABC-2021-LOGO.svg/125px-ABC-2021-LOGO.svg.png" alt="">
        <h1 class="title">Complaint Redressal System</h1>
    </div>
    <form class="padding-top">
        <!-- Username input -->
        <div class="formal">
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Username
                </span>
            </div>
            <div class="input">
                <input type="text">
            </div>

            <!-- Password input -->
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Password
                </span>
            </div>
            <div class="input">
                <input type="password">
            </div>
            <!-- Submit button -->
            <button type="button" class="margin-top-s btn btn-secondary btn-block btn-sm">LOGIN</button>
        </div>
    </form>
</div>