<div class="container center fonta">
    <div class="container padding-top">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/ABC-2021-LOGO.svg/125px-ABC-2021-LOGO.svg.png"
            alt="">
        <h1 class="title">Complaint Redressal System</h1>
    </div>
    <form class="padding-top">
        <div class="formal">
            <div class="col-auto">
                Username
            </div>
            <div class="input">
                <input type="text" name="username" [(ngModel)]="username">
            </div>
            <div class="col-auto">
                Password
            </div>
            <div class="input">
                <input type="password" name="password" [(ngModel)]="password">
            </div>
            <button type="button" (click)="log()" class="margin-top-s btn btn-secondary btn-block btn-sm">LOGIN</button>
        </div>
    </form>
    <a class="fontb" routerLink="signup">Create an Account</a>
</div>